@using GasUp.Models;

@code {
    [Parameter]
    public StationModel Station { get; set; }
    string MapsBase = "https://maps.google.com/?q=";


    [Inject]
    NavigationManager Navigation { get; set; }
    public void OpenMaps()
    {

        Navigation.NavigateTo(MapsBase + Station.Address, true);
    }
}

<div style="display: inline-flex; justify-content: center; border-bottom-style: solid; border-bottom-color: black; width: 100vw;" @onclick="OpenMaps">
    <h3 style=" margin-right:auto; margin-left: 0.25em; vertical-align: middle; align-self: center; white-space: nowrap; color: @((Station.CompanyName == "Exxon" || Station.CompanyName == "Mobil") ? "green" : "black")">@((Station.CompanyName == "Speedway") ? "SW" : Station.CompanyName)</h3>
    <div style=" text-align: center; justify-content: center; vertical-align: middle; align-self: center;">
            <h3 style="text-align: center; justify-content: center;">$@((Station.CompanyName == "Exxon" || Station.CompanyName == "Mobil") ? Math.Round((Station.price * 0.97), 2) + "/" + Station.price.ToString() : Station.price) <span style="font-size: 0.8em">per gallon</span></h3>
        <h3 style="text-align: center; justify-content: center; font-size: 0.8em">@Station.Address</h3>
    </div>
    <h3 style="margin-right: 0.25em; margin-left: auto; align-self: center; vertical-align: middle; ">@(Station.distance)mi</h3>
</div>
