@using GasUp.Models;

@code {
    [Parameter]
    public StationModel Station { get; set; }
    string MapsBase = "https://maps.google.com/?q=";


    [Inject]
    NavigationManager Navigation { get; set; }
    public void OpenMaps()
    {

        Navigation.NavigateTo(MapsBase + Station.Address, true);
    }
}

<div style="display:inline-flex; border-style:solid; border-color: black; width: 100vw; vertical-align: middle; justify-content:space-between;" @onclick="OpenMaps">
    <h3 style="vertical-align:middle; align-self:center;">@((Station.CompanyName == "Speedway") ? "SW" : Station.CompanyName)</h3>
    <div style="text-align: center; width:100vw; justify-content:center">
        <div style="width: 100%; text-align:center">
            <h3 style="margin: 0 auto;">$@Station.price <span style="font-size: 0.8em">per gallon</span></h3>
        </div>
        <h3 style="margin: 0 auto; font-size: 0.8em">@Station.Address</h3>
    </div>
    <h3 style="align-self: center;">@Station.distance mi</h3>
</div>
