@page "/"
<div style="@((show) ? "background-image:url(background.png); background-size:cover; height: 100vh; display: flex; align-items: center; justify-content: center;":"")">

    <button hidden="@(!show)" class="btn-success btn-lg" @onclick="ToggleHide">Find me gas</button>

    <div hidden="@show">
        @foreach (var station in Stations)
        {
            <GasUp.Components.StationComponent Station="@station"></GasUp.Components.StationComponent>
        }
    </div>


</div>