@page "/"
<div >
    <div>
        <div style="display: flex; height: 8vh; width: 100%; position: fixed; background-color: #00b4a5; top: 0;align-items: center;">
            <img style="height: 45px; width: 45px; margin-left: 2vw;" src="gas-logo.png" alt="GasUp Logo">
            <h1 style="margin-left: 1vw;">GasUp</h1>
        </div>
        <div style="border-top: solid grey; margin-top: 8vh; margin-bottom: 8vh; width: 100%; height: 84vh">
            @if (Stations != null)
            {
                @foreach (var station in Stations)
                {
                    <GasUp.Components.StationComponent Station="@station"></GasUp.Components.StationComponent>
                }
            }
            else
            {
                <div style="border: 16px solid #f3f3f3; border-top: 16px solid #00b4a5; border-radius: 50%; width: 120px; height: 120px; animation: spin 2s linear infinite; position: relative; top: 50%; left: 50%; margin-top: -60px; margin-left: -60px;"></div>
            }
        </div>
        <div style="height: 8vh; width: 100%; position: fixed; background-color:lightgray; padding: 10px 0; color: #fff; bottom: 0; border-top: solid grey; justify-content: space-between; display: flex">
            <button @onclick="Reload" style="margin-left: 0.5em; height: 6vh;" class="btn-dark btn-lg">Refresh</button>
            
            <span style="align-items: center; justify-content: center;">
                <div style="margin: auto; width: 50vw;">
                    <div style="color: black; font-size: 0.75em; font-weight: bolder; text-align: center;">Sort By:</div>
                    @if (SortType)
                    {
                        <div style="color: #006179; font-size: 1.5em; text-align: center;">Distance</div>
                    }
                    else
                    {
                        <div style="color: #006179; font-size: 1.5em; text-align: center;">Price</div>
                    }
                </div>
            </span>
            <button @onclick="ChangeSort" style="margin-right: 0.5em; height: 6vh; font-size: 0.75em" class="btn-dark btn-lg">Toggle Sort</button>
        </div>
    </div>
</div>