@page "/"
<div style="background-image:url(background.png); background-size:cover; height: 100vh">


<h1>Let's go GasUp Gamers</h1>

<button class="btn-primary" @onclick="CallStationTest">Test Station Logic</button>

<button class="btn-warning" @onclick="CallUserTest">Test User Location Logic</button>

<button class="btn-danger" @onclick="CallDistanceTest">Test Distance Logic</button>

<div>@stuff</div>

@foreach(var station in Stations)
            {
                <GasUp.Components.StationComponent Station="@station"></GasUp.Components.StationComponent>
            }

</div>